<div class="container-fluid">
	<div class="row">
		<div class="col-sm-2 " >
		<aside >
			<center><p><b>Filters</b></p></center>
			
			<%= simple_form_for :search, url: landing_page_path, method: "GET" do |f| %>

 			<%= f.input :prices, label: "Prices",  collection: $prices, as: :check_boxes %>
  			<%= f.input :locations, label: "Locations", collection: $locations, as: :check_boxes %>	
  			<%= f.input :facilites, label: "facilites", collection: $facilities, as: :check_boxes %>

  			<%= f.submit "Search", class: "btn btn-primary" %>
  			<%= link_to "Reset", landing_page_path  %>
  			<% end %>
		
		</aside>
		</div>
		
  		

			
	
	<% @hostels.each do |hostel| %>
		<div class="card col-sm-8 col-sm-offset-4" style="margin: 50px auto 0;">
		  <img class="card-img-top" src="/landing.jpg" alt="Card image cap">
		  <div class="card-body">
		    <h5 class="card-title"><%= hostel.name %></h5>
		    <p class="card-text"><%= hostel.address%></p>
		    <p class="card-text"><small class="text-muted">Last updated 
		    	<%= time_ago_in_words(hostel.updated_at)%> ago</small></p>
		    <p class="card-text"><small class="text-muted">Contact: <%= hostel.phone%></small></p>
		    <a href="<%= hostel_path(hostel) %>" >
              <i class="fas fa-eye" data-toggle="tooltip" title="View Hostel" style="font-size:24px; float: right;">&nbsp;</i>
          	</a>
		  </div>
		</div>
	<%end%>
	</div>
</div>